---
title: Index
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 0
editable_elements:
  main/main: "<p>Lorem ipsum....</p>"
---
<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>{{ site.name }}</title>
    <meta name='keywords' value='{{ site.meta_keywords }}'>
    <meta name='description' value='{{ site.meta_description }}'>
    <link href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css' rel='stylesheet'>
    {% inline_editor %}
  </head>
  <body>
    {% include 'page_header' %}
    <div class='container'>
      <h1>{{ page.title }}</h1>
      {% block 'main' %}
      {% editable_text 'main' %}
      <p>Lorem ipsum....</p>
      {% endeditable_text 'main' %}
      {% endblock %}
    </div>
    <script src='//code.jquery.com/jquery-2.1.1.min.js'></script>
    <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js'></script>
  </body>
</html>
